.transaction-history {
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.transaction-history__head {
    background-color: lightgrey;
    text-transform: uppercase;
    color: darkslategrey;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    box-shadow: 2px 3px 5px grey;
    border: 1px solid lightgrey;

}

.transaction-history__head-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.transaction-history__body {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 2px 3px 5px lightgrey;
    
}

.transaction-history__item {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border: 1px solid lightgrey;

}

.transaction-history__type {
    box-sizing: border-box;
    width: 210px;
    text-align: start;
    
}

.transaction-history__amount {
    text-align: start;
    width: 230px;
}

.transaction-history__currency {
    text-align: end;
}

